*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html{
  font-size: 62.5%;	/* Default font size in browser is 16px.*/
  box-sizing: border-box;
}

body{
  height: 100vh;
  margin: 0;
}

a{
  text-decoration: none;
  color: #2D3142;

  font-family: "Proxima Nova";
  font-size: 2rem;

}

h1{
  font-family: "Proxima Nova";
  font-size: 8rem;
  font-weight: bold;
  /*color: #2D3142;*/

  background: linear-gradient(0deg, rgba(45,49,66,1) 0%, rgba(95,101,125,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
}

h2{
  font-family: "Proxima Nova";
  font-size: 6rem;
  font-weight: bold;
}

h3{
  font-family: "Proxima Nova Extra Condensed";
  font-size: 5rem;
}

.home-page-design{
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 25rem;

  width: 100%;
  height: 100%;
}

.header{
  display: grid;
  grid-template-columns: 40% 30%;
  justify-content: space-between;

  max-width: 100%;
  height: 10rem;

  background: linear-gradient(180deg, rgba(251,219,255,1) 0%, rgba(249,206,255,1) 100%);

  align-content: center;

}

.links{
  display: grid;
  grid-template-columns: 12rem 10px 12rem 10px 12rem;

  align-items: center;
  justify-content: end;
  text-align: center;
}

.header-link{
  display: flex;

  width: 100%;
  height: 100%;

  border-radius: 5px;

  justify-content: center;
  align-items: center;
  align-content: center;
}

.header-link:hover{
  transition: background-color;
  transition-duration: .2s;
  background-color: #FFF4F7;
}

.vertical-divider{
  display: flex;

  margin: 0 auto;

  height: 80%;
  width: 1px;

  border-radius: 10px;
  background-color: #ca6680;
}

/*https://coolors.co/fbdbff-2d3142-bdd2a6-657153-ca6680*/