@media (min-width: 1600px) {
    .portfolio-page-design {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 100px);
        background: #FFDADA;
        position: relative;
        top: 100px;
    }

    .portfolio-desc {
        display: flex;
        flex-direction: column;
        margin: 5rem;
        width: 30%;
        height: 100%;
        justify-content: center;
        align-items: flex-start;
    }

    .portfolio-desc p, h1 {
        margin: 1rem 0;
    }

    .portfolio-desc p {
        text-align: left;
    }

    .portfolio-categories {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 90%;
        margin: 5rem;
    }

    .portfolio-grow-cont {
        display: flex;
        float: left;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 6px 12px 0 rgba(0, 0, 0, 0.14);
    }

    .portfolio-grow {
        width: 45%;
        overflow: hidden;
        transition: all .5s ease-in-out;
        position: relative;
        display: flex;
    }

    .portfolio-grow img {
        position: relative;
        right: 4rem;
    }

    .portfolio-grow:hover {
        width: 100%;
        transition: all .5s ease-in-out;
    }

    .portfolio-title-container {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        width: 0;
        left: 0;
        opacity: 0;

        transition: width .5s ease, opacity 1s ease;
        -webkit-transition: width .5s ease, opacity 1s ease;
    }

    .portfolio-title-container h4 {
        font-size: 38px;
        color: #F1F1F1;
        opacity: 100;
        position: relative;
        left: -18rem;
        transition: opacity 1s ease, left .5s ease;
        -webkit-transition: opacity 1s ease, left .7s ease;
    }

    .portfolio-grow:hover .portfolio-title-container {
        right: 0;
        width: 100%;
        opacity: 100;
    }

    .portfolio-grow:hover .portfolio-title-container h4 {
        opacity: 100%;
        left: 0;
    }
}

@media (min-width: 200px) and (max-width: 500px) {

    .portfolio-page-design {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        height: calc(100vh - 180px); width: 100vw;
        min-height: 650px;
        position: relative; top: 66px;
        background: #FFDADA;
    }

    .portfolio-desc {
        display: flex; flex-direction: column; justify-content: space-between; align-items: center;
        height: 22.5%; width: 90%;
    }
    .portfolio-desc h1, .portfolio-desc p {
        text-align: center; color: #A74343;
    }
    .portfolio-desc h1{
        font-size: 36px; font-weight: 700;
    }
    .portfolio-desc p {
        font-size: 14px;
    }

    .portfolio-categories {
        display: flex; justify-content: center; align-items: center;
        height: 60%; width: 80%; margin-top: 10%;
        overflow: hidden; border-radius: 20px;
    }
    .portfolio-grow-cont {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        height: 100%; width: 100%;
    }
    .portfolio-grow {
        display: flex; justify-content: flex-end; align-items: center;
        height: 33.34%; width: 100%; overflow: hidden; position: relative;
    }
    .portfolio-title-container {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        background: rgba(255,255,255,0.2); overflow: hidden;
        display: flex; justify-content: flex-start; align-items: flex-end;
    }
    .portfolio-title-container h4{
        text-align: center; color: white; font-weight: 600; letter-spacing: 6px;
        background: rgba(0,0,0,0.6); border-radius: 0 5px 0 0; padding: 0.25rem 1rem;

        font-size: 24px; text-space: 18px;
    }

    .university-image, .personal-image, .commissions-image { position: relative; }
    .university-image {
        right: -100px; bottom: -130px;
    }
    .personal-image {
        right: -240px; bottom: -25px;
    }
    .commissions-image {
        right: -80px; bottom: -120px;
    }
}
