@media (min-width: 1300px) {
    .about-page-design {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        width: 100%;
        height: 100%;
        position: relative;
        top: 100px;
    }

    .about {
        display: grid;
        grid-template-columns: 33% 67%;

        height: calc(100vh - 6.25rem);

        max-width: 100%;
        min-width: 100%;

        background-color: #F4FFDD;

        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-img {
        margin-left: 20%;
    }
    .about-img img{
        border-radius: 20px;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    }

    .about-desc {
        display: flex; flex-direction: column; align-items: center; justify-content: center;
    }

    .about-desc h1 {
        text-align: right;
        width: 80%; margin-bottom: 1.5rem;
    }

    .about-desc p {
        text-align: right;
        width: 80%;
    }
}

@media (min-width: 1000px) and (max-width: 1299px) {
    .about-page-design {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        width: 100%;
        height: 100%;
        position: relative;
        top: 100px;
    }

    .about {
        display: grid;
        grid-template-columns: 33% 67%;

        height: calc(100vh - 6.25rem);

        max-width: 100%;
        min-width: 100%;

        background-color: #F4FFDD;

        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-img {
        margin-left: 20%;
    }
    .about-img img{
        border-radius: 20px;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    }

    .about-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-desc h1 {
        text-align: right;
        width: 80%;
        font-size: 42px; margin-bottom: 1.5rem;
    }

    .about-desc p {
        text-align: right;
        width: 80%;
        font-size: 16px;
    }
}


@media (min-width: 200px) and (max-width: 999px) {
    .about-page-design {
        display: flex; justify-content: center; align-items: center;
        height: calc(100vh - 180px); max-width: 100vw; min-height: 650px; position: relative; top: 66px;
        background-color: #F4FFDD; overflow: hidden;
    }

    .about {
        display: flex; flex-direction: column-reverse; justify-content: center; align-items: center;
        height: 100%; width: 100%;
    }

    .about-img {
        display: flex; justify-content: center; align-items: center;
        width: 289px; height: 289px;
    }
    .about-img img {
        height: 100%; width: 100%;
    }

    .about-desc {
        display: flex; flex-direction: column; justify-content: space-between; align-items: center;
        height: 30%; width: 85%; margin-bottom: 15%;
    }
    .about-desc h1, .about-desc p{
        text-align: center; color: #749334;
    }
    .about-desc h1{
        font-size: 36px;
    }
    .about-desc p {
        font-size: 14px; line-height: 16px;
    }
}
